<nav>
    <ul class="flex justify-around container w-1/6 mx-auto px-4 my-8 text-gray-300">
        <li class="px-2 text-xl font-medium {% if page.url == "/" %}text-green-600{% endif %}"><a href="/">Home</a></li> | 
        <li class="px-2 text-xl font-medium {% if page.url == "/about/" %}text-green-600{% endif %}"><a href="/about">About</a></li> | 
        <li class="px-2 text-xl font-medium {% if page.url == "/contact/" %}text-green-600{% endif %}"><a href="/contact">Contacto</a></li>
    </ul>
</nav>
