<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# <link rel="icon" href="/img/favicon.ico"> #}
        <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/site.css">
        <title>{{ title }}</title>
    </head>
    <body class="flex flex-col">
        {% include "nav.njk" %}   
        {{ content | safe }}
        {% include "footer.html" %}
        <script src="/assets/js/main.js"></script>
    </body>
</html>
