body {
    box-sizing: border-box;
    background-color: firebrick;
    font-family: 'Hind Madurai', sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
}
