---
title: About
layout: default
logo: /assets/img/cactus_2.png
---

<div class="container mx-auto">
    <img src="{{logo}}" alt="about" class="h-40 w-40 md:h-48 md:w-48 mx-auto my-4">
    <h1 class="uppercase text-3xl text-center font-bold antialiased text-gray-200">{{title}}</h1>
    <h3 class="my-2 text-2xl text-center text-gray-100 font-thin">Ehm... my name Jeff</h3>
</div>
